<div class="overflow-x-auto mt-3">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>id</th>
        <th>Persona Id</th>
        <th>Titulo</th>
        <th>Total</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let deuda of deudas">
        <th>{{deuda.id}}</th>
        <td>{{deuda.persona_id}}</td>
        <td>{{deuda.titulo}}</td>
        <td>{{deuda.total}}</td>
        <td>{{deuda.pagado}}</td>
      </tr> 
    </tbody>
  </table>
</div>