<div class="hero-content flex-col lg:flex-row-reverse">
  <img
    src="https://placeimg.com/260/400/arch"
    class="max-w-sm rounded-lg shadow-2xl"
  />
  <div>
    <h1 class="text-5xl font-bold">
      Bievenidos al Sistema de Consulta de Deudas!
    </h1>
    <p class="py-6">
      De acuerdo con un <a class="link" href="https://www.nzpostbusinessiq.co.nz/">estudio reciente</a> , alrededor del <strong>75% de las personas que
        aplazan los pagos tienen menos de 45 años</strong>. Sin embargo, los datos revelan
      que también ha habido un aumento en los compradores mayores de 60 años que
      utilizan los servicios de <a href="https://www.investopedia.com/buy-now-pay-later-5182291" class="link" style="font-style: italic;">buy now, pay later</a>. 
    </p>
    <p class="py-2">
      Si bien esta es una
      tendencia en los Estados Unidos y los países europeos, aumenta las
      posibilidades de que las personas simplemente dejen de pagarte.
    </p>
    <button class="btn btn-primary">Get Started</button>
  </div>
</div>
