<!-- The button to open modal -->
<!-- <label for="my-modal-4" class="btn">Nueva Deuda</label> -->
<!-- <a href="#my-modal-2" class="btn">Nueva Deuda</a> -->
<label for="my-modal" class="btn">Nueva Deuda</label>
<button (click)="getDeudas()" class="btn btn-success ml-2">
  Ver Todas las Deudas
</button>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<label for="my-modal-4" class="modal cursor-pointer">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Deuda!</h3>
    <!--  [formGroup]="deudaForm"
      (ngSubmit)="registrarDeuda()" -->
    <form
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"
      [formGroup]="deudaForm"
      (ngSubmit)="registrarDeuda()"
    >
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-1" for="fecha">
          Fecha
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="date"
          placeholder="fecha"
          formControlName="fecha_creacion"
        />
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-1"
          for="vencimiento"
        >
          Vencimiento
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="date"
          placeholder="Vencimiento"
          formControlName="fecha_vencimiento"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-1" for="usuario">
          Usuario
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="number"
          placeholder="Usuario"
          formControlName="persona_id"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-1" for="titulo">
          Titulo
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          type="text"
          placeholder="Titulo"
          formControlName="titulo"
        />
      </div>
      <button type="button" (click)="addDetalles()" className="btn btn-xs">
        <i class="fa-solid fa-plus"></i> detalle
      </button>
      <div class="form-grid" formArrayName="detalle">
        <div
          class="mb-4"
          *ngFor="
            let det of getCtrl('detalle', deudaForm)?.controls;
            index as i
          "
        >
          <div class="grid grid-cols-2 gap-2" [formGroupName]="i">
            <div>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text"
                placeholder="concepto"
                formControlName="concepto_id"
              />
            </div>
            <div>
              <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="number"
                placeholder="Monto"
                formControlName="monto"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="flex items-center justify-between modal-action">
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline modal-action"
          type="submit"
        >
          <label for="my-modal">Registrar</label>
        </button>
        <!-- <label type="submit" for="my-modal">Registrar</label> -->
      </div>
    </form>
  </div>
</label>

<div class="overflow-x-auto mt-3">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>id</th>
        <th>fecha</th>
        <th>vencimiento</th>
        <th>Pagado</th>
        <th>deudor</th>
        <th>titulo</th>
        <th>total</th>
        <!-- <th>Detalle</th> -->
      </tr>
    </thead>
    <tbody>
      <!-- row 1 -->
      <tr *ngFor="let deuda of deudas">
        <th>{{ deuda.id }}</th>
        <td>{{ deuda.fecha_creacion }}</td>
        <td>{{ deuda.fecha_vencimiento }}</td>
        <td>{{ deuda.pagado }}</td>
        <td>{{ deuda.persona_id }}</td>
        <td>{{ deuda.titulo }}</td>
        <td>{{ deuda.total }}</td>
        <!-- <td><label for="my-modal-4" class="btn btn-xs">Add detalle</label></td> -->

        <!-- <td><label for="my-modal" (click)="editarPersona(persona.id)" class="btn">Editar</label></td> -->
      </tr>
    </tbody>
  </table>
</div>
